{% extends 'base.html.twig' %}


{% block title %}
    Création
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Ajout d'un élément à la Collection</h1>
        <p>Formulaire de création d'un élément de collection</p>
        <hr>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="images" data-prototype="{{ form_row(form.images.vars.prototype)|e('html_attr') }}">
        </div>

        <button type="submit" class="btn btn-primary">Ajout d'un nouvel élément</button>
        {{ form_end(form) }}

        <a href="{{ path('home') }}">Retour</a>

    </div>


{% endblock %}
