{% extends 'base.html.twig' %}
{% form_theme form _self %}
{#
{% form_theme form 'form/fields.html.twig' %}
#}


{% block body %}
    <div class="container">

        {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.region) }}
        {{ form_row(form.publisher) }}
        {{ form_row(form.etat) }}
        {{ form_row(form.buy_price) }}
        {{ form_row(form.support) }}
        {{ form_row(form.player_number) }}
        {{ form_row(form.value) }}
        <div style="display: none">
            {{ form_row(form.collection, { 'disabled' : true }) }}
        </div>


        <div class="border border-success text-center">
            {% if form.images is empty %}
                <p>Aucune image associée à cet élément</p>
            {% endif %}
            <div class="rounded mx-auto d-block">
                {% for imagesForm in form.images %}
                        <img src="{{ imagesForm.image.vars.image_url }}">
                {% endfor %}
            </div>

        </div>


        <div class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        </div>

        <div style="display: none">
            {{ form_row(form.images) }}
        </div>





{#
            <div>
                {% for image in form.children.images.children %}
                    {% spaceless %}


                        {% if image.children.image.vars.image_url is not null %}
                            <img src="{{ asset(image.children.image.vars.image_url) }}"/>

                        {% endif %}

                    {% endspaceless %}
                {% endfor %}
                <div class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                </div>
            </div>
#}





        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}

        <a href="{{ app.request.headers.get('referer') }}">Retour</a>

    </div>

{% endblock body %}