{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <hr>
        <h1>Création d'une nouvelle Collection</h1>
        <hr>
        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.tag) }}
        {{ form_row(form.category) }}
        {{ form_row(form.visibility) }}
        {% if form.vars.data.image is not null %}
            <img src="{{ asset('upload/CollectionImage/') }}{{ form.vars.data.image.title }}" alt="image d'illustration de la collection">
        {% else %}
            <h6>aucune image n'est associée à cette collection</h6>
        {% endif %}
        {{ form_row(form.image) }}


        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}

        <a href="{{ app.request.headers.get('referer') }}">Retour</a>

    </div>


{% endblock body %}