{% extends 'base.html.twig' %}

{% block body %}


{#
        {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">valider</button>
    {{ form_end(form) }}

#}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.tag) }}
    {{ form_row(form.category) }}
    {{ form_row(form.visibility) }}
    {{ form_row(form.image) }}


    <button type="submit">Valider</button>
    {{ form_end(form) }}



    <a href="{{ app.request.headers.get('referer') }}">Retour</a>
{% endblock body %}