{% extends 'base.html.twig' %}


{% block title %}
    {{ app.request.get('collectionName') }}
{% endblock title %}


{% block body %}

{# Desktop Display #}
    <div class="table-responsive" id="DetailledCollectionResponsiveBIG">

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>Eléments présents dans la collection : <strong>{{ app.request.get('collectionName') }}</strong></p>
                </div>
                <div class="col text-center">
                    <a class="btn btn-primary btn-sm" href="{{ path('addElement', {'id' : app.request.get('idCollection')}) }}">Ajouter un élément à cette Collection</a>
                </div>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nom de l'élément</th>
                <th scope="col">Région</th>
                <th scope="col">Auteur</th>
                <th scope="col">Editeur</th>
                <th scope="col">Etat ou Condition</th>
                <th scope="col">Prix d'achat</th>
                <th scope="col">Support</th>
                <th scope="col">Nombre de joueurs</th>
                <th scope="col">Valeur</th>
                <th scope="col">Images</th>
            </tr>
            </thead>

            <tbody>
            {% for element in collection %}
                <tr>
                    <th scope="row"><a href="{{ path('editElementCollection', {'id' : element.id}) }}">
                            {{ element.title }}</a>
                        <p>
                            <a class="btn btn-outline-danger btn-sm" href="#" data-toggle="modal" data-target="#{{ element.id }}">Supprimer</a>
                            <a class="btn btn-primary" href="{{ path('editElementCollection', {'id' : element.id}) }}">Modifier</a>
                        </p>

                            {# modal for delete element#}
                            <div class="modal fade" id="{{ element.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteElement" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Supprimer cet élement de la collection</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Etes-vous sur de vouloir supprimer cet élément ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                            <a class="card-link btn btn-outline-danger" href="{{ path('deleteElement', {'id' : element.id}) }}">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </th>
                    <td>{{ element.region }}</td>
                    <td>{{ element.author }}</td>
                    <td>{{ element.publisher }}</td>
                    <td>{{ element.etat }}</td>
                    <td>{{ element.buyPrice }}</td>
                    <td>{{ element.support }}</td>
                    <td>{{ element.playerNumber }}</td>
                    <td>{{ element.value }}</td>
                    <td>
                        {% for image in element.images %}
                            <a href="#" data-toggle="modal" data-target="#{{ image.title }}">
                                <img src="{{ asset('upload/CollectionImage/') }}{{ image.title }}" alt="Image d'illustration de l'élément" id="ImageElementCollection{{ image.id }}"
                                     width="80px" height="80px"
                                >
                            </a>

                            {# modal for delete image #}
                            <div class="modal fade" id="{{ image.title }}" tabindex="-1" role="dialog" aria-labelledby="deleteImage" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Supprimer cette image</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{ asset('upload/CollectionImage/') }}{{ image.title }}" class="img-fluid text-center">
                                            <p>Etes-vous sur ?</p>
                                            <p>Cette image sera supprimée de cet élément</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                            <a class="card-link btn btn-outline-danger" href="{{ path('deleteImageFromCollection', {'id' : image.id, 'idElement' : element.id}) }}">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{# Responsive Display #}
<div class="container" id="DetailledCollectionResponsiveSMALL">

    <div class="container text-center">
        <p>Eléments présents dans la collection : <br><strong>{{ app.request.get('collectionName') }}</strong>
            <br>
            <a class="btn btn-primary btn-sm" href="{{ path('addElement', {'id' : app.request.get('idCollection')}) }}">Ajouter un élément à cette Collection</a>
        </p>
    </div>

    <div id="accordion">
        {% for element in collection %}
            <div class="card">
                <div class="card-header" id="heading{{ element.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#{{ element.title }}{{ element.id }}" aria-expanded="true" aria-controls="{{ element.title }}">
                            {{ element.title }}
                        </button>
                    </h5>
                </div>

                <div id="{{ element.title }}{{ element.id }}" class="collapse" aria-labelledby="heading{{ element.id }}" data-parent="#accordion">
                    <div class="card-body">
                        <strong>Titre : </strong> <p>{{ element.title }}</p>

                        {% if element.region is defined and element.region is not empty%}
                            <strong>Région : </strong> <p>{{ element.region }}</p>
                        {% endif %}
                        {% if element.author is defined and element.author is not empty%}
                            <strong>Auteur : </strong> <p>{{ element.author }}</p>
                        {% endif %}
                        {% if element.publisher is defined and element.publisher is not empty%}
                            <strong>Editeur : </strong> <p>{{ element.publisher }}</p>
                        {% endif %}
                        {% if element.etat is defined and element.etat is not empty%}
                            <strong>Etat : </strong> <p>{{ element.etat }}</p>
                        {% endif %}
                        {% if element.buyPrice is defined and element.buyPrice is not empty%}
                            <strong>Prix d'achat : </strong> <p>{{ element.buyPrice }}</p>
                        {% endif %}
                        {% if element.support is defined and element.support is not empty%}
                            <strong>Support : </strong> <p>{{ element.support }}</p>
                        {% endif %}
                        {% if element.playerNumber is defined and element.playerNumber is not empty%}
                            <strong>Nombre de joueurs : </strong> <p>{{ element.playerNumber }}</p>
                        {% endif %}
                        {% if element.value is defined and element.value is not empty%}
                            <strong>Valeur : </strong> <p>{{ element.value }}</p>
                        {% endif %}

                        {% if element.images is defined and element.images is not empty%}
                            <strong>Images : </strong>
                            <br>
                        {% endif %}
                        <div class="text-center">
                            {% for image in element.images %}
                                <a href="#" data-toggle="modal" data-target="#{{ image.title }}0">
                                    <img src="{{ asset('upload/CollectionImage/') }}{{ image.title }}" alt="Image d'illustration de l'élément" id="ImageElementCollection{{ image.id }}"
                                         width="80px" height="80px"
                                    >
                                </a>

                                {# modal for delete images #}
                                <div class="modal fade" id="{{ image.title }}0" tabindex="-1" role="dialog" aria-labelledby="deleteImage" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Supprimer cette image</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">x</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <img src="{{ asset('upload/CollectionImage/') }}{{ image.title }}" class="img-fluid">
                                                <p>Etes-vous sur ?</p>
                                                <p>Cette image sera supprimée de cet élément</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                                <a class="card-link btn btn-outline-danger" href="{{ path('deleteImageFromCollection', {'id' : image.id, 'idElement' : element.id}) }}">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {# edit, delete in responsive #}
                        <br>
                        <hr>
                        <div class="text-center">
                            <a class="card-link btn btn-outline-primary" href="{{ path('editElementCollection', {'id' : element.id}) }}">Editer</a>
                            <a class="card-link btn btn-outline-danger btn-sm" href="#" data-toggle="modal" data-target="#{{ element.id }}Delete">Supprimer</a>
                        </div>

                        {# modal for delete element #}
                        <div class="modal fade" id="{{ element.id }}Delete" tabindex="-1" role="dialog" aria-labelledby="deleteElement" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Supprimer cet élement de la collection</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">x</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Etes-vous sur de vouloir supprimer cet élément ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                        <a class="card-link btn btn-outline-danger" href="{{ path('deleteElement', {'id' : element.id}) }}">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock body %}
