{% extends 'base.html.twig' %}



{% block body %}

    <div class="container">
        <h1>Connection</h1>
        <hr>
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn btn-primary">Se connecter</button>
        {{ form_end(form) }}

        <p>mot de passe oublié ? Cliquez <a href="{{ path('recoverPassword') }}">ici</a> </p>

        <a href="{{ path('home') }}">Retour</a>


    </div>

{% endblock %}
