{% extends 'base.html.twig' %}



{% block body %}

    <div class="container">
        <hr>
        <h1>Connection à votre compte</h1>
        <hr>
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn btn-primary">Se connecter</button>
        {{ form_end(form) }}

        <hr>

        <p>Mot de passe oublié ? Cliquez <a href="{{ path('recoverPassword') }}">ici</a> </p>
        <p>Pas encore inscrit ? Cliquez <a href="{{ path('register') }}">Ici</a></p>

        <a href="{{ path('home') }}">Retour</a>


    </div>

{% endblock %}
